{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="POST">
        <div class="form-group">
            <input name="symbol" style="text-transform: uppercase;" autocapitalize="characters" autocomplete="off" autofocus class="form-control" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input type="number" min="1" step="1" name="shares"  class="form-control" placeholder="Shares">
        </div>
        <div style="color: red; padding-bottom: 12px;">
            {{ warning }}
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}