{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Transacted</th>
        </tr>
        {% for history in histories %}
        <tr>
            <td>{{ history.symbol|e }}</td>
            <td>{{ history.shares|e }}</td>
            <td>${{ history.price|e }}</td>
            <td>{{ history.transacted|e }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
