{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input style="text-transform: uppercase;" autocapitalize="on" autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div style="color: red; padding-bottom: 12px;">
            {{ warning }}
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}